openapi: 3.0.1
info:
  contact:
    email: parlamentsdokumentation@bundestag.de
    name: Auskunfts- und Rechercheservice der Parlamentsdokumentation
  description: API des Dokumentations- und Informationssystems für Parlamentsmaterialien
  termsOfService: https://dip.bundestag.de/%C3%BCber-dip/nutzungsbedingungen
  title: Deutscher Bundestag - DIP
  version: "1.3"
servers:
- url: https://search.dip.bundestag.de/api/v1
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
paths:
  /vorgang:
    get:
      operationId: getVorgangList
      parameters:
      - description: |
          Frühestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Aktualisierungen seit 06.12.2022 10:00 (Ortszeit Berlin)
            value: 2022-12-06T10:00:00
          startTimezone:
            summary: Aktualisierungen seit 06.12.2022 10:00 (mit Zeitzone)
            value: 2022-12-06T10:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Spätestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Aktualisierungen bis 06.12.2022 20:00 (Ortszeit Berlin)
            value: 2022-12-06T20:00:00
          endTimezone:
            summary: Aktualisierungen bis 06.12.2022 20:00 (mit Zeitzone)
            value: 2022-12-06T20:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Beratungsstand

          Selektiert alle Entitäten, die dem angegebenen Beratungsstand zugeordnet sind.
          Kann wiederholt werden, um mehrere Beratungsstände zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Verkündet
            value:
            - Verkündet
        explode: true
        in: query
        name: f.beratungsstand
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Frühestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Dokumentdatum ab 11.01.2021
            value: 2021-01-11
        explode: true
        in: query
        name: f.datum.start
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          Spätestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Dokumentdatum bis einschließlich 15.01.2021
            value: 2021-01-15
        explode: true
        in: query
        name: f.datum.end
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: "Deskriptor\n\nSelektiert alle Entitäten, die mit dem angegebenen\
          \ Deskriptor verknüpft sind.\nKann wiederholt werden, um die Schnittmenge\
          \ mehrerer Deskriptoren zu selektieren. Hinterlegt ist eine UND-Suche. \n\
          Eine ODER-Suche über mehrere Deskriptoren ist mit einer einzigen Abfrage\
          \ nicht möglich. Die Deskriptoren müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Klimaschutz
            value:
            - Klimaschutz
          multiple:
            summary: Klimaschutz UND Windenergieanlage
            value:
            - Klimaschutz
            - Windenergieanlage
        explode: true
        in: query
        name: f.deskriptor
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Drucksache oder Plenarprotokoll

          Selektiert alle Entitäten, die mit der angegebenen Dokumentart verknüpft sind.
        explode: true
        in: query
        name: f.dokumentart
        required: false
        schema:
          enum:
          - Drucksache
          - Plenarprotokoll
          type: string
        style: form
      - description: |
          Dokumentnummer einer Drucksache oder eines Plenarprotokolls

          Selektiert alle Entitäten, die mit der angegebenen Dokumentnummer verknüpft sind.
          Kann wiederholt werden, um mehrere Dokumentnummern zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.dokumentnummer
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          ID einer verknüpften Drucksache

          Selektiert alle Entitäten, die mit der angegebenen Drucksache verknüpft sind.
        explode: true
        in: query
        name: f.drucksache
        required: false
        schema:
          type: integer
        style: form
      - description: |
          Typ der Drucksache

          Selektiert alle Entitäten, die mit dem angegebenen Drucksachetyp verknüpft sind.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Antrag
            value: Antrag
        explode: true
        in: query
        name: f.drucksachetyp
        required: false
        schema:
          type: string
        style: form
      - description: |
          Fragenummer/Listenziffer

          Selektiert alle Entitäten, die mit der angegebenen Fragenummer in einer Drucksache verknüpft sind.
          Kann wiederholt werden, um mehrere Fragenummern zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: C.4
            value:
            - C.4
        explode: true
        in: query
        name: f.frage_nummer
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          GESTA-Ordnungsnummer

          Selektiert alle Entitäten, die der angegebenen GESTA-Ordnungsnummer zugeordnet sind.
          Kann wiederholt werden, um mehrere Ordnungsnummern zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: B101
            value:
            - B101
        explode: true
        in: query
        name: f.gesta
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          ID der Entität

          Kann wiederholt werden, um mehrere Entitäten zu selektieren.
        explode: true
        in: query
        name: f.id
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "Initiative\n\nSelektiert alle Entitäten, die mit dem angegebenen\
          \ Urheber im Basisdokument verknüpft sind.\nKann wiederholt werden, um die\
          \ Schnittmenge mehrerer Initianten zu selektieren. Hinterlegt ist eine UND-Suche.\
          \ \nEine ODER-Suche über mehrere Initianten ist mit einer einzigen Abfrage\
          \ nicht möglich. Die Initianten müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Bundesregierung
            value:
            - Bundesregierung
          multiple:
            summary: Fraktion der SPD UND Fraktion Bündnis 90/Die Grünen
            value:
            - Fraktion der SPD
            - Fraktion Bündnis 90/Die Grünen
        explode: true
        in: query
        name: f.initiative
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          ID eines verknüpften Plenarprotokolls

          Selektiert alle Entitäten, die mit dem angegebenen Plenarprotokoll verknüpft sind.
        explode: true
        in: query
        name: f.plenarprotokoll
        required: false
        schema:
          type: integer
        style: form
      - description: "Ressort (federführend)\n\nSelektiert alle Entitäten, die mit\
          \ dem angegebenen federführenden Ressort in einer Drucksache verknüpft sind.\n\
          Kann wiederholt werden, um die Schnittmenge mehrerer Ressorts zu selektieren.\
          \ Hinterlegt ist eine UND-Suche. \nEine ODER-Suche über mehrere federfü\
          hrende Ressorts ist mit einer einzigen Abfrage nicht möglich. Die federfü\
          hrenden Ressorts müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Bundesministerium für Gesundheit
            value:
            - Bundesministerium für Gesundheit
          multiple:
            summary: Bundesministerium für Gesundheit UND Bundesministerium für Arbeit
              und Soziales
            value:
            - Bundesministerium für Gesundheit
            - Bundesministerium für Arbeit und Soziales
        explode: true
        in: query
        name: f.ressort_fdf
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: "Sachgebiet\n\nSelektiert alle Entitäten, die mit dem angegebenen\
          \ Sachgebiet verknüpft sind.\nKann wiederholt werden, um die Schnittmenge\
          \ mehrerer Sachgebiete zu selektieren. Hinterlegt ist eine UND-Suche. \n\
          Eine ODER-Suche über mehrere Sachgebiete ist mit einer einzigen Abfrage\
          \ nicht möglich. Die Sachgebiete müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Innere Sicherheit
            value:
            - Innere Sicherheit
          multiple:
            summary: Innere Sicherheit UND Staat und Verwaltung
            value:
            - Innere Sicherheit
            - Staat und Verwaltung
        explode: true
        in: query
        name: f.sachgebiet
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Titel

          Selektiert alle Entitäten, die den angegebenen Suchbegriff im Titel enthalten.
          Kann wiederholt werden, um mehrere Titel zu selektieren. Hinterlegt ist eine ODER-Suche.
          Eine Einzelwortsuche ist möglich. Mehrere Suchbegriffe hintereinander werden als Phrase gesucht.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: "Veröffentlichung von Spenden, die im Einzelfall die Höhe von\
              \ 50 000 Euro übersteigen"
            value:
            - "Veröffentlichung von Spenden, die im Einzelfall die Höhe von 50 000\
              \ Euro übersteigen"
          multiple:
            summary: Pflegehilfe ODER Pflegesatz
            value:
            - Pflegehilfe
            - Pflegesatz
        explode: true
        in: query
        name: f.titel
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: "Urheber\n\nSelektiert alle Entitäten, die mit dem angegebenen\
          \ Urheber in einer Drucksache verknüpft sind.\nKann wiederholt werden, um\
          \ die Schnittmenge mehrerer Urheber zu selektieren. Hinterlegt ist eine\
          \ UND-Suche. \nEine ODER-Suche über mehrere Urheber ist mit einer einzigen\
          \ Abfrage nicht möglich. Die Urheber müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Bundesregierung
            value:
            - Bundesregierung
          multiple:
            summary: Fraktion der SPD UND Fraktion Bündnis 90/Die Grünen
            value:
            - Fraktion der SPD
            - Fraktion Bündnis 90/Die Grünen
        explode: true
        in: query
        name: f.urheber
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Fundstelle der Verkündung

          Selektiert alle Entitäten, welche den angegebenen Suchbegriff in der Fundstelle der Verkündung enthalten.
          Kann wiederholt werden, um mehrere Fundstellen zu selektieren. Hinterlegt ist eine ODER-Suche. Eine Einzelwortsuche (z.B. nach dem Verkündungsblatt) ist möglich.
        examples:
          none:
            summary: --
            value: ""
          fundstelle:
            summary: "BGBl I 2023, 71"
            value:
            - "BGBl I 2023, 71"
          bgbl:
            summary: BGBl I
            value:
            - BGBl I
        explode: true
        in: query
        name: f.verkuendung_fundstelle
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Vorgangstyp

          Selektiert alle Entitäten, die dem angegebenen Vorgangstyp zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Gesetzgebung
            value:
            - Gesetzgebung
        explode: true
        in: query
        name: f.vorgangstyp
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Vorgangstyp-Notation

          Selektiert alle Entitäten, die der angegebenen Vorgangstyp-Notation zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: 100 (Gesetzgebung)
            value:
            - 100
        explode: true
        in: query
        name: f.vorgangstyp_notation
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          Nummer der Wahlperiode

          Selektiert alle Entitäten, die der angegebenen Wahlperiode zugeordnet sind.
          Kann wiederholt werden, um mehrere Wahlperioden zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.wahlperiode
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          Position des Cursors zur Anfrage weiterer Entitäten

          Übersteigt die Anzahl der gefundenen Entitäten das jeweilige Limit, muss eine Folgeanfrage gestellt werden, um weitere Entitäten zu laden.
          Eine Folgeanfrage wird gebildet, indem alle Parameter der ursprünglichen Anfrage wiederholt werden und zusätzlich der cursor Parameter der letzten Antwort eingesetzt wird.
          Es können solange Folgeanfragen gestellt werden, bis sich der cursor nicht mehr ändert. Dies signalisiert, dass alle Entitäten geladen wurden.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VorgangListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/VorgangListResponse'
          description: Liste von Metadaten zu Vorgängen
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_400_response'
          description: Syntaxfehler in einem der Anfrageparameter
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
      summary: Liefert eine Liste von Metadaten zu Vorgängen
      tags:
      - Vorgänge
      x-accepts:
      - application/json
      - application/xml
  /vorgang/{id}:
    get:
      operationId: getVorgang
      parameters:
      - example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vorgang'
            application/xml:
              schema:
                $ref: '#/components/schemas/Vorgang'
          description: Metadaten eines Vorgangs
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgang_404_response'
          description: Die angefragte Entität wurde nicht gefunden
      summary: Liefert Metadaten zu einem Vorgang
      tags:
      - Vorgänge
      x-accepts:
      - application/json
      - application/xml
  /vorgangsposition:
    get:
      operationId: getVorgangspositionList
      parameters:
      - description: |
          ID einer verknüpften Aktivität

          Selektiert alle Entitäten, die mit der angegebenen Aktivität verknüpft sind.
        explode: true
        in: query
        name: f.aktivitaet
        required: false
        schema:
          type: integer
        style: form
      - description: |
          Frühestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Aktualisierungen seit 06.12.2022 10:00 (Ortszeit Berlin)
            value: 2022-12-06T10:00:00
          startTimezone:
            summary: Aktualisierungen seit 06.12.2022 10:00 (mit Zeitzone)
            value: 2022-12-06T10:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Spätestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Aktualisierungen bis 06.12.2022 20:00 (Ortszeit Berlin)
            value: 2022-12-06T20:00:00
          endTimezone:
            summary: Aktualisierungen bis 06.12.2022 20:00 (mit Zeitzone)
            value: 2022-12-06T20:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Frühestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Dokumentdatum ab 11.01.2021
            value: 2021-01-11
        explode: true
        in: query
        name: f.datum.start
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          Spätestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Dokumentdatum bis einschließlich 15.01.2021
            value: 2021-01-15
        explode: true
        in: query
        name: f.datum.end
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          Drucksache oder Plenarprotokoll

          Selektiert alle Entitäten, die mit der angegebenen Dokumentart verknüpft sind.
        explode: true
        in: query
        name: f.dokumentart
        required: false
        schema:
          enum:
          - Drucksache
          - Plenarprotokoll
          type: string
        style: form
      - description: |
          Dokumentnummer einer Drucksache oder eines Plenarprotokolls

          Selektiert alle Entitäten, die mit der angegebenen Dokumentnummer verknüpft sind.
          Kann wiederholt werden, um mehrere Dokumentnummern zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.dokumentnummer
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          ID einer verknüpften Drucksache

          Selektiert alle Entitäten, die mit der angegebenen Drucksache verknüpft sind.
        explode: true
        in: query
        name: f.drucksache
        required: false
        schema:
          type: integer
        style: form
      - description: |
          Typ der Drucksache

          Selektiert alle Entitäten, die mit dem angegebenen Drucksachetyp verknüpft sind.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Antrag
            value: Antrag
        explode: true
        in: query
        name: f.drucksachetyp
        required: false
        schema:
          type: string
        style: form
      - description: |
          Fragenummer/Listenziffer

          Selektiert alle Entitäten, die mit der angegebenen Fragenummer in einer Drucksache verknüpft sind.
          Kann wiederholt werden, um mehrere Fragenummern zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: C.4
            value:
            - C.4
        explode: true
        in: query
        name: f.frage_nummer
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          ID der Entität

          Kann wiederholt werden, um mehrere Entitäten zu selektieren.
        explode: true
        in: query
        name: f.id
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          ID eines verknüpften Plenarprotokolls

          Selektiert alle Entitäten, die mit dem angegebenen Plenarprotokoll verknüpft sind.
        explode: true
        in: query
        name: f.plenarprotokoll
        required: false
        schema:
          type: integer
        style: form
      - description: "Ressort (federführend)\n\nSelektiert alle Entitäten, die mit\
          \ dem angegebenen federführenden Ressort in einer Drucksache verknüpft sind.\n\
          Kann wiederholt werden, um die Schnittmenge mehrerer Ressorts zu selektieren.\
          \ Hinterlegt ist eine UND-Suche. \nEine ODER-Suche über mehrere federfü\
          hrende Ressorts ist mit einer einzigen Abfrage nicht möglich. Die federfü\
          hrenden Ressorts müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Bundesministerium für Gesundheit
            value:
            - Bundesministerium für Gesundheit
          multiple:
            summary: Bundesministerium für Gesundheit UND Bundesministerium für Arbeit
              und Soziales
            value:
            - Bundesministerium für Gesundheit
            - Bundesministerium für Arbeit und Soziales
        explode: true
        in: query
        name: f.ressort_fdf
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Titel

          Selektiert alle Entitäten, die den angegebenen Suchbegriff im Titel enthalten.
          Kann wiederholt werden, um mehrere Titel zu selektieren. Hinterlegt ist eine ODER-Suche.
          Eine Einzelwortsuche ist möglich. Mehrere Suchbegriffe hintereinander werden als Phrase gesucht.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: "Veröffentlichung von Spenden, die im Einzelfall die Höhe von\
              \ 50 000 Euro übersteigen"
            value:
            - "Veröffentlichung von Spenden, die im Einzelfall die Höhe von 50 000\
              \ Euro übersteigen"
          multiple:
            summary: Pflegehilfe ODER Pflegesatz
            value:
            - Pflegehilfe
            - Pflegesatz
        explode: true
        in: query
        name: f.titel
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: "Urheber\n\nSelektiert alle Entitäten, die mit dem angegebenen\
          \ Urheber in einer Drucksache verknüpft sind.\nKann wiederholt werden, um\
          \ die Schnittmenge mehrerer Urheber zu selektieren. Hinterlegt ist eine\
          \ UND-Suche. \nEine ODER-Suche über mehrere Urheber ist mit einer einzigen\
          \ Abfrage nicht möglich. Die Urheber müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Bundesregierung
            value:
            - Bundesregierung
          multiple:
            summary: Fraktion der SPD UND Fraktion Bündnis 90/Die Grünen
            value:
            - Fraktion der SPD
            - Fraktion Bündnis 90/Die Grünen
        explode: true
        in: query
        name: f.urheber
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          ID eines verknüpften Vorgangs

          Selektiert alle Entitäten, die mit dem angegebenen Vorgang verknüpft sind.
        explode: true
        in: query
        name: f.vorgang
        required: false
        schema:
          type: integer
        style: form
      - description: |
          Vorgangstyp

          Selektiert alle Entitäten, die dem angegebenen Vorgangstyp zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Gesetzgebung
            value:
            - Gesetzgebung
        explode: true
        in: query
        name: f.vorgangstyp
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Vorgangstyp-Notation

          Selektiert alle Entitäten, die der angegebenen Vorgangstyp-Notation zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: 100 (Gesetzgebung)
            value:
            - 100
        explode: true
        in: query
        name: f.vorgangstyp_notation
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          Nummer der Wahlperiode

          Selektiert alle Entitäten, die der angegebenen Wahlperiode zugeordnet sind.
          Kann wiederholt werden, um mehrere Wahlperioden zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.wahlperiode
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "Zuordnung der Entität zum Bundestag, Bundesrat, Bundesversammlung\
          \ oder Europakammer"
        explode: true
        in: query
        name: f.zuordnung
        required: false
        schema:
          $ref: '#/components/schemas/Zuordnung'
        style: form
      - description: |
          Position des Cursors zur Anfrage weiterer Entitäten

          Übersteigt die Anzahl der gefundenen Entitäten das jeweilige Limit, muss eine Folgeanfrage gestellt werden, um weitere Entitäten zu laden.
          Eine Folgeanfrage wird gebildet, indem alle Parameter der ursprünglichen Anfrage wiederholt werden und zusätzlich der cursor Parameter der letzten Antwort eingesetzt wird.
          Es können solange Folgeanfragen gestellt werden, bis sich der cursor nicht mehr ändert. Dies signalisiert, dass alle Entitäten geladen wurden.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VorgangspositionListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/VorgangspositionListResponse'
          description: Metadaten zu Vorgangspositionen
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_400_response'
          description: Syntaxfehler in einem der Anfrageparameter
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
      summary: Liefert eine Liste von Metadaten zu Vorgangspositionen
      tags:
      - Vorgangspositionen
      x-accepts:
      - application/json
      - application/xml
  /vorgangsposition/{id}:
    get:
      operationId: getVorgangsposition
      parameters:
      - example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vorgangsposition'
            application/xml:
              schema:
                $ref: '#/components/schemas/Vorgangsposition'
          description: Metadaten einer Vorgangsposition
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgang_404_response'
          description: Die angefragte Entität wurde nicht gefunden
      summary: Liefert Metadaten zu einer Vorgangsposition
      tags:
      - Vorgangspositionen
      x-accepts:
      - application/json
      - application/xml
  /drucksache:
    get:
      operationId: getDrucksacheList
      parameters:
      - description: |
          Frühestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Aktualisierungen seit 06.12.2022 10:00 (Ortszeit Berlin)
            value: 2022-12-06T10:00:00
          startTimezone:
            summary: Aktualisierungen seit 06.12.2022 10:00 (mit Zeitzone)
            value: 2022-12-06T10:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Spätestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Aktualisierungen bis 06.12.2022 20:00 (Ortszeit Berlin)
            value: 2022-12-06T20:00:00
          endTimezone:
            summary: Aktualisierungen bis 06.12.2022 20:00 (mit Zeitzone)
            value: 2022-12-06T20:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Frühestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Dokumentdatum ab 11.01.2021
            value: 2021-01-11
        explode: true
        in: query
        name: f.datum.start
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          Spätestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Dokumentdatum bis einschließlich 15.01.2021
            value: 2021-01-15
        explode: true
        in: query
        name: f.datum.end
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          Dokumentnummer einer Drucksache oder eines Plenarprotokolls

          Selektiert alle Entitäten, die mit der angegebenen Dokumentnummer verknüpft sind.
          Kann wiederholt werden, um mehrere Dokumentnummern zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.dokumentnummer
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Typ der Drucksache

          Selektiert alle Entitäten, die mit dem angegebenen Drucksachetyp verknüpft sind.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Antrag
            value: Antrag
        explode: true
        in: query
        name: f.drucksachetyp
        required: false
        schema:
          type: string
        style: form
      - description: |
          ID der Entität

          Kann wiederholt werden, um mehrere Entitäten zu selektieren.
        explode: true
        in: query
        name: f.id
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "Ressort (federführend)\n\nSelektiert alle Entitäten, die mit\
          \ dem angegebenen federführenden Ressort in einer Drucksache verknüpft sind.\n\
          Kann wiederholt werden, um die Schnittmenge mehrerer Ressorts zu selektieren.\
          \ Hinterlegt ist eine UND-Suche. \nEine ODER-Suche über mehrere federfü\
          hrende Ressorts ist mit einer einzigen Abfrage nicht möglich. Die federfü\
          hrenden Ressorts müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Bundesministerium für Gesundheit
            value:
            - Bundesministerium für Gesundheit
          multiple:
            summary: Bundesministerium für Gesundheit UND Bundesministerium für Arbeit
              und Soziales
            value:
            - Bundesministerium für Gesundheit
            - Bundesministerium für Arbeit und Soziales
        explode: true
        in: query
        name: f.ressort_fdf
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Titel

          Selektiert alle Entitäten, die den angegebenen Suchbegriff im Titel enthalten.
          Kann wiederholt werden, um mehrere Titel zu selektieren. Hinterlegt ist eine ODER-Suche.
          Eine Einzelwortsuche ist möglich. Mehrere Suchbegriffe hintereinander werden als Phrase gesucht.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: "Veröffentlichung von Spenden, die im Einzelfall die Höhe von\
              \ 50 000 Euro übersteigen"
            value:
            - "Veröffentlichung von Spenden, die im Einzelfall die Höhe von 50 000\
              \ Euro übersteigen"
          multiple:
            summary: Pflegehilfe ODER Pflegesatz
            value:
            - Pflegehilfe
            - Pflegesatz
        explode: true
        in: query
        name: f.titel
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: "Urheber\n\nSelektiert alle Entitäten, die mit dem angegebenen\
          \ Urheber in einer Drucksache verknüpft sind.\nKann wiederholt werden, um\
          \ die Schnittmenge mehrerer Urheber zu selektieren. Hinterlegt ist eine\
          \ UND-Suche. \nEine ODER-Suche über mehrere Urheber ist mit einer einzigen\
          \ Abfrage nicht möglich. Die Urheber müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Bundesregierung
            value:
            - Bundesregierung
          multiple:
            summary: Fraktion der SPD UND Fraktion Bündnis 90/Die Grünen
            value:
            - Fraktion der SPD
            - Fraktion Bündnis 90/Die Grünen
        explode: true
        in: query
        name: f.urheber
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Vorgangstyp

          Selektiert alle Entitäten, die dem angegebenen Vorgangstyp zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Gesetzgebung
            value:
            - Gesetzgebung
        explode: true
        in: query
        name: f.vorgangstyp
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Vorgangstyp-Notation

          Selektiert alle Entitäten, die der angegebenen Vorgangstyp-Notation zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: 100 (Gesetzgebung)
            value:
            - 100
        explode: true
        in: query
        name: f.vorgangstyp_notation
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          Nummer der Wahlperiode

          Selektiert alle Entitäten, die der angegebenen Wahlperiode zugeordnet sind.
          Kann wiederholt werden, um mehrere Wahlperioden zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.wahlperiode
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "Zuordnung der Entität zum Bundestag, Bundesrat, Bundesversammlung\
          \ oder Europakammer"
        explode: true
        in: query
        name: f.zuordnung
        required: false
        schema:
          $ref: '#/components/schemas/Zuordnung'
        style: form
      - description: |
          Position des Cursors zur Anfrage weiterer Entitäten

          Übersteigt die Anzahl der gefundenen Entitäten das jeweilige Limit, muss eine Folgeanfrage gestellt werden, um weitere Entitäten zu laden.
          Eine Folgeanfrage wird gebildet, indem alle Parameter der ursprünglichen Anfrage wiederholt werden und zusätzlich der cursor Parameter der letzten Antwort eingesetzt wird.
          Es können solange Folgeanfragen gestellt werden, bis sich der cursor nicht mehr ändert. Dies signalisiert, dass alle Entitäten geladen wurden.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrucksacheListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DrucksacheListResponse'
          description: Metadaten zu Drucksachen
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_400_response'
          description: Syntaxfehler in einem der Anfrageparameter
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
      summary: Liefert eine Liste von Metadaten zu Drucksachen
      tags:
      - Drucksachen
      x-accepts:
      - application/json
      - application/xml
  /drucksache/{id}:
    get:
      operationId: getDrucksache
      parameters:
      - example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drucksache'
            application/xml:
              schema:
                $ref: '#/components/schemas/Drucksache'
          description: Metadaten einer Drucksache
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgang_404_response'
          description: Die angefragte Entität wurde nicht gefunden
      summary: Liefert Metadaten zu einer Drucksache
      tags:
      - Drucksachen
      x-accepts:
      - application/json
      - application/xml
  /drucksache-text:
    get:
      operationId: getDrucksacheTextList
      parameters:
      - description: |
          Frühestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Aktualisierungen seit 06.12.2022 10:00 (Ortszeit Berlin)
            value: 2022-12-06T10:00:00
          startTimezone:
            summary: Aktualisierungen seit 06.12.2022 10:00 (mit Zeitzone)
            value: 2022-12-06T10:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Spätestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Aktualisierungen bis 06.12.2022 20:00 (Ortszeit Berlin)
            value: 2022-12-06T20:00:00
          endTimezone:
            summary: Aktualisierungen bis 06.12.2022 20:00 (mit Zeitzone)
            value: 2022-12-06T20:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Frühestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Dokumentdatum ab 11.01.2021
            value: 2021-01-11
        explode: true
        in: query
        name: f.datum.start
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          Spätestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Dokumentdatum bis einschließlich 15.01.2021
            value: 2021-01-15
        explode: true
        in: query
        name: f.datum.end
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          Dokumentnummer einer Drucksache oder eines Plenarprotokolls

          Selektiert alle Entitäten, die mit der angegebenen Dokumentnummer verknüpft sind.
          Kann wiederholt werden, um mehrere Dokumentnummern zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.dokumentnummer
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Typ der Drucksache

          Selektiert alle Entitäten, die mit dem angegebenen Drucksachetyp verknüpft sind.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Antrag
            value: Antrag
        explode: true
        in: query
        name: f.drucksachetyp
        required: false
        schema:
          type: string
        style: form
      - description: |
          ID der Entität

          Kann wiederholt werden, um mehrere Entitäten zu selektieren.
        explode: true
        in: query
        name: f.id
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "Ressort (federführend)\n\nSelektiert alle Entitäten, die mit\
          \ dem angegebenen federführenden Ressort in einer Drucksache verknüpft sind.\n\
          Kann wiederholt werden, um die Schnittmenge mehrerer Ressorts zu selektieren.\
          \ Hinterlegt ist eine UND-Suche. \nEine ODER-Suche über mehrere federfü\
          hrende Ressorts ist mit einer einzigen Abfrage nicht möglich. Die federfü\
          hrenden Ressorts müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Bundesministerium für Gesundheit
            value:
            - Bundesministerium für Gesundheit
          multiple:
            summary: Bundesministerium für Gesundheit UND Bundesministerium für Arbeit
              und Soziales
            value:
            - Bundesministerium für Gesundheit
            - Bundesministerium für Arbeit und Soziales
        explode: true
        in: query
        name: f.ressort_fdf
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Titel

          Selektiert alle Entitäten, die den angegebenen Suchbegriff im Titel enthalten.
          Kann wiederholt werden, um mehrere Titel zu selektieren. Hinterlegt ist eine ODER-Suche.
          Eine Einzelwortsuche ist möglich. Mehrere Suchbegriffe hintereinander werden als Phrase gesucht.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: "Veröffentlichung von Spenden, die im Einzelfall die Höhe von\
              \ 50 000 Euro übersteigen"
            value:
            - "Veröffentlichung von Spenden, die im Einzelfall die Höhe von 50 000\
              \ Euro übersteigen"
          multiple:
            summary: Pflegehilfe ODER Pflegesatz
            value:
            - Pflegehilfe
            - Pflegesatz
        explode: true
        in: query
        name: f.titel
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: "Urheber\n\nSelektiert alle Entitäten, die mit dem angegebenen\
          \ Urheber in einer Drucksache verknüpft sind.\nKann wiederholt werden, um\
          \ die Schnittmenge mehrerer Urheber zu selektieren. Hinterlegt ist eine\
          \ UND-Suche. \nEine ODER-Suche über mehrere Urheber ist mit einer einzigen\
          \ Abfrage nicht möglich. Die Urheber müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Bundesregierung
            value:
            - Bundesregierung
          multiple:
            summary: Fraktion der SPD UND Fraktion Bündnis 90/Die Grünen
            value:
            - Fraktion der SPD
            - Fraktion Bündnis 90/Die Grünen
        explode: true
        in: query
        name: f.urheber
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Vorgangstyp

          Selektiert alle Entitäten, die dem angegebenen Vorgangstyp zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Gesetzgebung
            value:
            - Gesetzgebung
        explode: true
        in: query
        name: f.vorgangstyp
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Vorgangstyp-Notation

          Selektiert alle Entitäten, die der angegebenen Vorgangstyp-Notation zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: 100 (Gesetzgebung)
            value:
            - 100
        explode: true
        in: query
        name: f.vorgangstyp_notation
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          Nummer der Wahlperiode

          Selektiert alle Entitäten, die der angegebenen Wahlperiode zugeordnet sind.
          Kann wiederholt werden, um mehrere Wahlperioden zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.wahlperiode
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "Zuordnung der Entität zum Bundestag, Bundesrat, Bundesversammlung\
          \ oder Europakammer"
        explode: true
        in: query
        name: f.zuordnung
        required: false
        schema:
          $ref: '#/components/schemas/Zuordnung'
        style: form
      - description: |
          Position des Cursors zur Anfrage weiterer Entitäten

          Übersteigt die Anzahl der gefundenen Entitäten das jeweilige Limit, muss eine Folgeanfrage gestellt werden, um weitere Entitäten zu laden.
          Eine Folgeanfrage wird gebildet, indem alle Parameter der ursprünglichen Anfrage wiederholt werden und zusätzlich der cursor Parameter der letzten Antwort eingesetzt wird.
          Es können solange Folgeanfragen gestellt werden, bis sich der cursor nicht mehr ändert. Dies signalisiert, dass alle Entitäten geladen wurden.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrucksacheTextListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DrucksacheTextListResponse'
          description: Volltext und Metadaten zu Drucksachen
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_400_response'
          description: Syntaxfehler in einem der Anfrageparameter
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
      summary: Liefert eine Liste von Volltexten und Metadaten zu Drucksachen
      tags:
      - Drucksachen
      x-accepts:
      - application/json
      - application/xml
  /drucksache-text/{id}:
    get:
      operationId: getDrucksacheText
      parameters:
      - example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrucksacheText'
            application/xml:
              schema:
                $ref: '#/components/schemas/DrucksacheText'
          description: Volltext und Metadaten einer Drucksache
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgang_404_response'
          description: Die angefragte Entität wurde nicht gefunden
      summary: Liefert Volltext und Metadaten zu einer Drucksache
      tags:
      - Drucksachen
      x-accepts:
      - application/json
      - application/xml
  /plenarprotokoll:
    get:
      operationId: getPlenarprotokollList
      parameters:
      - description: |
          Frühestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Aktualisierungen seit 06.12.2022 10:00 (Ortszeit Berlin)
            value: 2022-12-06T10:00:00
          startTimezone:
            summary: Aktualisierungen seit 06.12.2022 10:00 (mit Zeitzone)
            value: 2022-12-06T10:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Spätestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Aktualisierungen bis 06.12.2022 20:00 (Ortszeit Berlin)
            value: 2022-12-06T20:00:00
          endTimezone:
            summary: Aktualisierungen bis 06.12.2022 20:00 (mit Zeitzone)
            value: 2022-12-06T20:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Frühestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Dokumentdatum ab 11.01.2021
            value: 2021-01-11
        explode: true
        in: query
        name: f.datum.start
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          Spätestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Dokumentdatum bis einschließlich 15.01.2021
            value: 2021-01-15
        explode: true
        in: query
        name: f.datum.end
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          Dokumentnummer einer Drucksache oder eines Plenarprotokolls

          Selektiert alle Entitäten, die mit der angegebenen Dokumentnummer verknüpft sind.
          Kann wiederholt werden, um mehrere Dokumentnummern zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.dokumentnummer
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          ID der Entität

          Kann wiederholt werden, um mehrere Entitäten zu selektieren.
        explode: true
        in: query
        name: f.id
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          Vorgangstyp

          Selektiert alle Entitäten, die dem angegebenen Vorgangstyp zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Gesetzgebung
            value:
            - Gesetzgebung
        explode: true
        in: query
        name: f.vorgangstyp
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Vorgangstyp-Notation

          Selektiert alle Entitäten, die der angegebenen Vorgangstyp-Notation zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: 100 (Gesetzgebung)
            value:
            - 100
        explode: true
        in: query
        name: f.vorgangstyp_notation
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          Nummer der Wahlperiode

          Selektiert alle Entitäten, die der angegebenen Wahlperiode zugeordnet sind.
          Kann wiederholt werden, um mehrere Wahlperioden zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.wahlperiode
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "Zuordnung der Entität zum Bundestag, Bundesrat, Bundesversammlung\
          \ oder Europakammer"
        explode: true
        in: query
        name: f.zuordnung
        required: false
        schema:
          $ref: '#/components/schemas/Zuordnung'
        style: form
      - description: |
          Position des Cursors zur Anfrage weiterer Entitäten

          Übersteigt die Anzahl der gefundenen Entitäten das jeweilige Limit, muss eine Folgeanfrage gestellt werden, um weitere Entitäten zu laden.
          Eine Folgeanfrage wird gebildet, indem alle Parameter der ursprünglichen Anfrage wiederholt werden und zusätzlich der cursor Parameter der letzten Antwort eingesetzt wird.
          Es können solange Folgeanfragen gestellt werden, bis sich der cursor nicht mehr ändert. Dies signalisiert, dass alle Entitäten geladen wurden.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlenarprotokollListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PlenarprotokollListResponse'
          description: Metadaten zu Plenarprotokollen
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_400_response'
          description: Syntaxfehler in einem der Anfrageparameter
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
      summary: Liefert eine Liste von Metadaten zu Plenarprotokollen
      tags:
      - Plenarprotokolle
      x-accepts:
      - application/json
      - application/xml
  /plenarprotokoll/{id}:
    get:
      operationId: getPlenarprotokoll
      parameters:
      - example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plenarprotokoll'
            application/xml:
              schema:
                $ref: '#/components/schemas/Plenarprotokoll'
          description: Metadaten eines Plenarprotokolls
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgang_404_response'
          description: Die angefragte Entität wurde nicht gefunden
      summary: Liefert Metadaten zu einem Plenarprotokoll
      tags:
      - Plenarprotokolle
      x-accepts:
      - application/json
      - application/xml
  /plenarprotokoll-text:
    get:
      operationId: getPlenarprotokollTextList
      parameters:
      - description: |
          Frühestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Aktualisierungen seit 06.12.2022 10:00 (Ortszeit Berlin)
            value: 2022-12-06T10:00:00
          startTimezone:
            summary: Aktualisierungen seit 06.12.2022 10:00 (mit Zeitzone)
            value: 2022-12-06T10:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Spätestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Aktualisierungen bis 06.12.2022 20:00 (Ortszeit Berlin)
            value: 2022-12-06T20:00:00
          endTimezone:
            summary: Aktualisierungen bis 06.12.2022 20:00 (mit Zeitzone)
            value: 2022-12-06T20:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Frühestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Dokumentdatum ab 11.01.2021
            value: 2021-01-11
        explode: true
        in: query
        name: f.datum.start
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          Spätestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Dokumentdatum bis einschließlich 15.01.2021
            value: 2021-01-15
        explode: true
        in: query
        name: f.datum.end
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          Dokumentnummer einer Drucksache oder eines Plenarprotokolls

          Selektiert alle Entitäten, die mit der angegebenen Dokumentnummer verknüpft sind.
          Kann wiederholt werden, um mehrere Dokumentnummern zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.dokumentnummer
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          ID der Entität

          Kann wiederholt werden, um mehrere Entitäten zu selektieren.
        explode: true
        in: query
        name: f.id
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          Vorgangstyp

          Selektiert alle Entitäten, die dem angegebenen Vorgangstyp zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Gesetzgebung
            value:
            - Gesetzgebung
        explode: true
        in: query
        name: f.vorgangstyp
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Vorgangstyp-Notation

          Selektiert alle Entitäten, die der angegebenen Vorgangstyp-Notation zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: 100 (Gesetzgebung)
            value:
            - 100
        explode: true
        in: query
        name: f.vorgangstyp_notation
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          Nummer der Wahlperiode

          Selektiert alle Entitäten, die der angegebenen Wahlperiode zugeordnet sind.
          Kann wiederholt werden, um mehrere Wahlperioden zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.wahlperiode
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "Zuordnung der Entität zum Bundestag, Bundesrat, Bundesversammlung\
          \ oder Europakammer"
        explode: true
        in: query
        name: f.zuordnung
        required: false
        schema:
          $ref: '#/components/schemas/Zuordnung'
        style: form
      - description: |
          Position des Cursors zur Anfrage weiterer Entitäten

          Übersteigt die Anzahl der gefundenen Entitäten das jeweilige Limit, muss eine Folgeanfrage gestellt werden, um weitere Entitäten zu laden.
          Eine Folgeanfrage wird gebildet, indem alle Parameter der ursprünglichen Anfrage wiederholt werden und zusätzlich der cursor Parameter der letzten Antwort eingesetzt wird.
          Es können solange Folgeanfragen gestellt werden, bis sich der cursor nicht mehr ändert. Dies signalisiert, dass alle Entitäten geladen wurden.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlenarprotokollTextListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PlenarprotokollTextListResponse'
          description: Volltext und Metadaten zu Plenarprotokollen
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_400_response'
          description: Syntaxfehler in einem der Anfrageparameter
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
      summary: Liefert eine Liste von Volltexten und Metadaten zu Plenarprotokollen
      tags:
      - Plenarprotokolle
      x-accepts:
      - application/json
      - application/xml
  /plenarprotokoll-text/{id}:
    get:
      operationId: getPlenarprotokollText
      parameters:
      - example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlenarprotokollText'
            application/xml:
              schema:
                $ref: '#/components/schemas/PlenarprotokollText'
          description: Volltext und Metadaten eines Plenarprotokolls
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgang_404_response'
          description: Die angefragte Entität wurde nicht gefunden
      summary: Liefert Volltext und Metadaten zu einem Plenarprotokoll
      tags:
      - Plenarprotokolle
      x-accepts:
      - application/json
      - application/xml
  /aktivitaet:
    get:
      operationId: getAktivitaetList
      parameters:
      - description: |
          Frühestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Aktualisierungen seit 06.12.2022 10:00 (Ortszeit Berlin)
            value: 2022-12-06T10:00:00
          startTimezone:
            summary: Aktualisierungen seit 06.12.2022 10:00 (mit Zeitzone)
            value: 2022-12-06T10:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Spätestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Aktualisierungen bis 06.12.2022 20:00 (Ortszeit Berlin)
            value: 2022-12-06T20:00:00
          endTimezone:
            summary: Aktualisierungen bis 06.12.2022 20:00 (mit Zeitzone)
            value: 2022-12-06T20:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Frühestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Dokumentdatum ab 11.01.2021
            value: 2021-01-11
        explode: true
        in: query
        name: f.datum.start
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          Spätestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Dokumentdatum bis einschließlich 15.01.2021
            value: 2021-01-15
        explode: true
        in: query
        name: f.datum.end
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: "Deskriptor\n\nSelektiert alle Entitäten, die mit dem angegebenen\
          \ Deskriptor verknüpft sind.\nKann wiederholt werden, um die Schnittmenge\
          \ mehrerer Deskriptoren zu selektieren. Hinterlegt ist eine UND-Suche. \n\
          Eine ODER-Suche über mehrere Deskriptoren ist mit einer einzigen Abfrage\
          \ nicht möglich. Die Deskriptoren müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Klimaschutz
            value:
            - Klimaschutz
          multiple:
            summary: Klimaschutz UND Windenergieanlage
            value:
            - Klimaschutz
            - Windenergieanlage
        explode: true
        in: query
        name: f.deskriptor
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Drucksache oder Plenarprotokoll

          Selektiert alle Entitäten, die mit der angegebenen Dokumentart verknüpft sind.
        explode: true
        in: query
        name: f.dokumentart
        required: false
        schema:
          enum:
          - Drucksache
          - Plenarprotokoll
          type: string
        style: form
      - description: |
          Dokumentnummer einer Drucksache oder eines Plenarprotokolls

          Selektiert alle Entitäten, die mit der angegebenen Dokumentnummer verknüpft sind.
          Kann wiederholt werden, um mehrere Dokumentnummern zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.dokumentnummer
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          ID einer verknüpften Drucksache

          Selektiert alle Entitäten, die mit der angegebenen Drucksache verknüpft sind.
        explode: true
        in: query
        name: f.drucksache
        required: false
        schema:
          type: integer
        style: form
      - description: |
          Typ der Drucksache

          Selektiert alle Entitäten, die mit dem angegebenen Drucksachetyp verknüpft sind.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Antrag
            value: Antrag
        explode: true
        in: query
        name: f.drucksachetyp
        required: false
        schema:
          type: string
        style: form
      - description: |
          Fragenummer/Listenziffer

          Selektiert alle Entitäten, die mit der angegebenen Fragenummer in einer Drucksache verknüpft sind.
          Kann wiederholt werden, um mehrere Fragenummern zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: C.4
            value:
            - C.4
        explode: true
        in: query
        name: f.frage_nummer
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          ID der Entität

          Kann wiederholt werden, um mehrere Entitäten zu selektieren.
        explode: true
        in: query
        name: f.id
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          ID eines verknüpften Plenarprotokolls

          Selektiert alle Entitäten, die mit dem angegebenen Plenarprotokoll verknüpft sind.
        explode: true
        in: query
        name: f.plenarprotokoll
        required: false
        schema:
          type: integer
        style: form
      - description: "Sachgebiet\n\nSelektiert alle Entitäten, die mit dem angegebenen\
          \ Sachgebiet verknüpft sind.\nKann wiederholt werden, um die Schnittmenge\
          \ mehrerer Sachgebiete zu selektieren. Hinterlegt ist eine UND-Suche. \n\
          Eine ODER-Suche über mehrere Sachgebiete ist mit einer einzigen Abfrage\
          \ nicht möglich. Die Sachgebiete müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Innere Sicherheit
            value:
            - Innere Sicherheit
          multiple:
            summary: Innere Sicherheit UND Staat und Verwaltung
            value:
            - Innere Sicherheit
            - Staat und Verwaltung
        explode: true
        in: query
        name: f.sachgebiet
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: "Urheber\n\nSelektiert alle Entitäten, die mit dem angegebenen\
          \ Urheber in einer Drucksache verknüpft sind.\nKann wiederholt werden, um\
          \ die Schnittmenge mehrerer Urheber zu selektieren. Hinterlegt ist eine\
          \ UND-Suche. \nEine ODER-Suche über mehrere Urheber ist mit einer einzigen\
          \ Abfrage nicht möglich. Die Urheber müssen dazu einzeln abgefragt werden.\n"
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Bundesregierung
            value:
            - Bundesregierung
          multiple:
            summary: Fraktion der SPD UND Fraktion Bündnis 90/Die Grünen
            value:
            - Fraktion der SPD
            - Fraktion Bündnis 90/Die Grünen
        explode: true
        in: query
        name: f.urheber
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Vorgangstyp

          Selektiert alle Entitäten, die dem angegebenen Vorgangstyp zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: Gesetzgebung
            value:
            - Gesetzgebung
        explode: true
        in: query
        name: f.vorgangstyp
        required: false
        schema:
          items:
            example: ""
            type: string
          type: array
        style: form
      - description: |
          Vorgangstyp-Notation

          Selektiert alle Entitäten, die der angegebenen Vorgangstyp-Notation zugeordnet sind.
          Kann wiederholt werden, um mehrere Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.
        examples:
          none:
            summary: --
            value: ""
          single:
            summary: 100 (Gesetzgebung)
            value:
            - 100
        explode: true
        in: query
        name: f.vorgangstyp_notation
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          Nummer der Wahlperiode

          Selektiert alle Entitäten, die der angegebenen Wahlperiode zugeordnet sind.
          Kann wiederholt werden, um mehrere Wahlperioden zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.wahlperiode
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "Zuordnung der Entität zum Bundestag, Bundesrat, Bundesversammlung\
          \ oder Europakammer"
        explode: true
        in: query
        name: f.zuordnung
        required: false
        schema:
          $ref: '#/components/schemas/Zuordnung'
        style: form
      - description: |
          Position des Cursors zur Anfrage weiterer Entitäten

          Übersteigt die Anzahl der gefundenen Entitäten das jeweilige Limit, muss eine Folgeanfrage gestellt werden, um weitere Entitäten zu laden.
          Eine Folgeanfrage wird gebildet, indem alle Parameter der ursprünglichen Anfrage wiederholt werden und zusätzlich der cursor Parameter der letzten Antwort eingesetzt wird.
          Es können solange Folgeanfragen gestellt werden, bis sich der cursor nicht mehr ändert. Dies signalisiert, dass alle Entitäten geladen wurden.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AktivitaetListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AktivitaetListResponse'
          description: Metadaten zu Aktivitäten
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_400_response'
          description: Syntaxfehler in einem der Anfrageparameter
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
      summary: Liefert eine Liste von Metadaten zu Aktivitäten
      tags:
      - Aktivitäten
      x-accepts:
      - application/json
      - application/xml
  /aktivitaet/{id}:
    get:
      operationId: getAktivitaet
      parameters:
      - example: 1
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aktivitaet'
            application/xml:
              schema:
                $ref: '#/components/schemas/Aktivitaet'
          description: Metadaten einer Aktivität
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgang_404_response'
          description: Die angefragte Entität wurde nicht gefunden
      summary: Liefert Metadaten zu einer Aktivität
      tags:
      - Aktivitäten
      x-accepts:
      - application/json
      - application/xml
  /person:
    get:
      operationId: getPersonList
      parameters:
      - description: |
          Frühestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Aktualisierungen seit 06.12.2022 10:00 (Ortszeit Berlin)
            value: 2022-12-06T10:00:00
          startTimezone:
            summary: Aktualisierungen seit 06.12.2022 10:00 (mit Zeitzone)
            value: 2022-12-06T10:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Spätestes Aktualisierungsdatum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Aktualisierungen bis 06.12.2022 20:00 (Ortszeit Berlin)
            value: 2022-12-06T20:00:00
          endTimezone:
            summary: Aktualisierungen bis 06.12.2022 20:00 (mit Zeitzone)
            value: 2022-12-06T20:00:00+02:00
        explode: true
        in: query
        name: f.aktualisiert.end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Frühestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          start:
            summary: Dokumentdatum ab 11.01.2021
            value: 2021-01-11
        explode: true
        in: query
        name: f.datum.start
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          Spätestes Datum der Entität

          Selektiert Entitäten in einem Datumsbereich basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich aller zugehörigen Dokumente herangezogen.
        examples:
          empty:
            summary: --
            value: ""
          end:
            summary: Dokumentdatum bis einschließlich 15.01.2021
            value: 2021-01-15
        explode: true
        in: query
        name: f.datum.end
        required: false
        schema:
          $ref: '#/components/schemas/Datum'
        style: form
      - description: |
          ID der Entität

          Kann wiederholt werden, um mehrere Entitäten zu selektieren.
        explode: true
        in: query
        name: f.id
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          Nummer der Wahlperiode

          Selektiert alle Entitäten, die der angegebenen Wahlperiode zugeordnet sind.
          Kann wiederholt werden, um mehrere Wahlperioden zu selektieren. Hinterlegt ist eine ODER-Suche.
        explode: true
        in: query
        name: f.wahlperiode
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: |
          Position des Cursors zur Anfrage weiterer Entitäten

          Übersteigt die Anzahl der gefundenen Entitäten das jeweilige Limit, muss eine Folgeanfrage gestellt werden, um weitere Entitäten zu laden.
          Eine Folgeanfrage wird gebildet, indem alle Parameter der ursprünglichen Anfrage wiederholt werden und zusätzlich der cursor Parameter der letzten Antwort eingesetzt wird.
          Es können solange Folgeanfragen gestellt werden, bis sich der cursor nicht mehr ändert. Dies signalisiert, dass alle Entitäten geladen wurden.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
          \ oder XML."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PersonListResponse'
          description: Personenstammdaten
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_400_response'
          description: Syntaxfehler in einem der Anfrageparameter
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVorgangList_401_response'
          description: Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser
            kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey
            gesendet werden.
      summary: Liefert eine Liste von Personenstammdaten
      tags:
[...]
